CustomersOrder.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Customers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Customer" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CompanyName"/>
                    <xs:element type="xs:string" name="ContactName"/>
                    <xs:element type="xs:string" name="ContactTitle"/>
                    <xs:element type="xs:string" name="Phone"/>
                    <xs:element type="xs:string" name="Fax" minOccurs="0"/>
                    <xs:element name="FullAddress">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Address"/>
                          <xs:element type="xs:string" name="City"/>
                          <xs:element type="xs:string" name="Region"/>
                          <xs:element type="xs:int" name="PostalCode"/>
                          <xs:element type="xs:string" name="Country"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Orders">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="Order" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="CustomerID"/>
                                <xs:element type="xs:byte" name="EmployeeID"/>
                                <xs:element type="xs:dateTime" name="OrderDate"/>
                                <xs:element type="xs:dateTime" name="RequiredDate"/>
                                <xs:element name="ShipInfo">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="ShipVia"/>
                                      <xs:element type="xs:float" name="Freight"/>
                                      <xs:element type="xs:string" name="ShipName"/>
                                      <xs:element type="xs:string" name="ShipAddress"/>
                                      <xs:element type="xs:string" name="ShipCity"/>
                                      <xs:element type="xs:string" name="ShipRegion"/>
                                      <xs:element type="xs:int" name="ShipPostalCode"/>
                                      <xs:element type="xs:string" name="ShipCountry"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:dateTime" name="ShippedDate" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="CustomerID" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
